<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="LibrarySystemConnectionString" connectionString="Data Source=DESKTOP-4AFS9Q6\SQLEXPRESS;Initial Catalog=Library_management_System;Integrated Security=True"
   providerName=".NET Framework Data Provider for SQL Server" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
